<a href="https://colab.research.google.com/github/0703fws/freedomprogrammingexercise/blob/main/paygap_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Read/summarise data
# import python packages
import pandas as pd
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# read the data from the provided url
url ="https://raw.githubusercontent.com/0703fws/freedomprogrammingexercise/refs/heads/main/paygap.csv"
data = pd.read_csv(url)
# show the dataset
display(data)
def summarise_data(data):
    # check dataset details
    data.info()
    # summary statistics for numerical columns
    display(data.describe())
    # count missing values
    print(data.isnull().sum())
# check if data is loaded successfully
if data is not None:
    summarise_data(data)
else:
    print("data loading failed")

,employer_name,employer_id,address,post_code,company_number,sic_codes,diff_mean_hourly_percent,diff_median_hourly_percent,diff_mean_bonus_percent,diff_median_bonus_percent,...,female_upper_middle_quartile,male_top_quartile,female_top_quartile,company_link_to_gpg_info,responsible_person,employer_size,current_name,submitted_after_the_deadline,due_date,date_submitted
0,"Bryanston School, Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT11 0PX,00226143,85310,18.0,28.2,0.0,0.0,...,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL INCORPORATED,False,2018-04-05T00:00:00Z,2018-03-27T11:42:49Z
1,"RED BAND CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,2.3,-2.7,15.0,37.5,...,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,2018-04-05T00:00:00Z,2018-03-28T16:44:25Z
2,123 EMPLOYEES LTD,17677,"34 Roundhay Road, Leeds, England, LS7 1AB",LS7 1AB,10530651,78300,41.0,36.0,-69.8,-157.2,...,89.0,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018-04-05T00:00:00Z,2018-05-04T11:24:06Z
3,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA6 3JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,...,70.0,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018-04-05T00:00:00Z,2018-04-12T17:03:26Z
4,1879 EVENTS MANAGEMENT LIMITED,17101,"The Sunderland Stadium Of Light, Sunderland, T...",SR5 1SU,07743495,56210:70229,13.4,8.1,41.4,43.7,...,77.2,58.2,41.8,https://www.safc.com/news/club-news/2018/march...,Jo Graham (Deputy HR Manager),250 to 499,1879 EVENTS MANAGEMENT LIMITED,False,2018-04-05T00:00:00Z,2018-03-29T15:32:33Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48706,VENTRICA LTD,17545,"4th Floor Tylers House, Tylers Avenue, Southen...",SS1 2BB,06908560,82200,18.1,0.0,59.3,28.9,...,58.6,42.3,57.7,NaN,Stephen West (Chief Operating Officer),500 to 999,VENTRICA LTD,False,2023-04-05T00:00:00Z,2022-04-06T13:01:37Z
48707,W. LIDDY & COMPANY LIMITED,13424,"Unit 28 Apex Business Village, Cramlington, No...",NE23 7BF,02860364,56102,7.2,0.3,2.5,2.9,...,42.0,54.6,45.4,NaN,SARA DAVIS (PAYROLL MANAGER),500 to 999,W. LIDDY & COMPANY LIMITED,False,2023-04-05T00:00:00Z,2022-05-10T10:52:44Z
48708,"WELLS CATHEDRAL SCHOOL, LIMITED",13591,"The Bursary, Wells Cathedral School, College R...",BA5 2SX,00564883,85100:85200:85310:85520,30.0,57.0,NaN,NaN,...,63.0,42.0,58.0,NaN,Bethan Drake (PA to the Bursar),250 to 499,"WELLS CATHEDRAL SCHOOL, LIMITED",False,2023-04-05T00:00:00Z,2022-05-17T11:24:01Z
48709,WESSEX EAGLE LIMITED,15245,"Eagle Plant, Beeching Close, Chard, Somerset, ...",TA20 1BB,01540286,77320,10.8,9.2,30.7,31.8,...,2.0,94.0,6.0,NaN,Gary Parfoot (Director),250 to 499,WESSEX EAGLE LIMITED,False,2023-04-05T00:00:00Z,2022-04-08T14:37:21Z
48710,YOUR HOMES NEWCASTLE LIMITED,14040,"Civic Centre, Barras Bridge, Newcastle Upon Ty...",NE1 8PR,05076256,68201,-3.7,-11.4,NaN,NaN,...,70.5,45.9,54.1,NaN,Tina Drury (YHN Managing Director),500 to 999,YOUR HOMES NEWCASTLE LIMITED,False,2023-04-05T00:00:00Z,2022-06-17T09:02:43Z

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48711 entries, 0 to 48710
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   employer_name                 48711 non-null  object
 1   employer_id                   48711 non-null  int64
 2   address                       48681 non-null  object
 3   post_code                     48547 non-null  object
 4   company_number                42311 non-null  object
 5   sic_codes                     45817 non-null  object
 6   diff_mean_hourly_percent      48711 non-null  float64
 7   diff_median_hourly_percent    48711 non-null  float64
 8   diff_mean_bonus_percent       39780 non-null  float64
 9   diff_median_bonus_percent     39778 non-null  float64
 10  male_bonus_percent            48711 non-null  float64
 11  female_bonus_percent          48711 non-null  float64
 12  male_lower_quartile           48319 non-null  float64
 13  female_lower_quartile         48319 non-null  float64
 14  male_lower_middle_quartile    48319 non-null  float64
 15  female_lower_middle_quartile  48319 non-null  float64
 16  male_upper_middle_quartile    48319 non-null  float64
 17  female_upper_middle_quartile  48319 non-null  float64
 18  male_top_quartile             48319 non-null  float64
 19  female_top_quartile           48319 non-null  float64
 20  company_link_to_gpg_info      33328 non-null  object
 21  responsible_person            40443 non-null  object
 22  employer_size                 48711 non-null  object
 23  current_name                  48711 non-null  object
 24  submitted_after_the_deadline  48711 non-null  bool
 25  due_date                      48711 non-null  object
 26  date_submitted                48711 non-null  object
dtypes: bool(1), float64(14), int64(1), object(11)
memory usage: 9.7+ MB

,employer_id,diff_mean_hourly_percent,diff_median_hourly_percent,diff_mean_bonus_percent,diff_median_bonus_percent,male_bonus_percent,female_bonus_percent,male_lower_quartile,female_lower_quartile,male_lower_middle_quartile,female_lower_middle_quartile,male_upper_middle_quartile,female_upper_middle_quartile,male_top_quartile,female_top_quartile
count,48711.000000,48711.000000,48711.000000,39780.000000,39778.000000,48711.000000,48711.000000,48319.000000,48319.000000,48319.000000,48319.000000,48319.000000,48319.000000,48319.000000,48319.000000
mean,10125.033873,14.044000,12.217341,17.001046,-3.848549,36.219330,34.898454,45.758459,54.241541,50.115035,49.884965,54.484271,45.515729,60.143126,39.856874
std,5965.453203,15.009446,16.386395,475.160602,755.977414,37.221867,36.947301,24.167354,24.167354,26.056443,26.056443,26.086399,26.086399,24.336344,24.336344
min,4.000000,-499.900000,-499.500000,-82000.000000,-120695.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4958.000000,4.800000,1.000000,0.300000,0.000000,0.200000,0.000000,26.500000,36.000000,29.000000,28.000000,33.300000,22.000000,41.000000,18.200000
50%,10292.000000,13.200000,9.900000,31.500000,15.500000,19.300000,17.100000,44.000000,56.000000,48.000000,52.000000,53.300000,46.700000,62.000000,38.000000
75%,15292.000000,22.400000,21.650000,55.700000,42.700000,76.400000,74.000000,64.000000,73.500000,72.000000,71.000000,78.000000,66.700000,81.800000,59.000000
max,21498.000000,159.000000,121.200000,3848.200000,4000.000000,100.000000,100.400000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

employer_name                       0
employer_id                         0
address                            30
post_code                         164
company_number                   6400
sic_codes                        2894
diff_mean_hourly_percent            0
diff_median_hourly_percent          0
diff_mean_bonus_percent          8931
diff_median_bonus_percent        8933
male_bonus_percent                  0
female_bonus_percent                0
male_lower_quartile               392
female_lower_quartile             392
male_lower_middle_quartile        392
female_lower_middle_quartile      392
male_upper_middle_quartile        392
female_upper_middle_quartile      392
male_top_quartile                 392
female_top_quartile               392
company_link_to_gpg_info        15383
responsible_person               8268
employer_size                       0
current_name                        0
submitted_after_the_deadline        0
due_date                            0
date_submitted                      0
dtype: int64

In [24]:
#　Data manipulation
# check if missing values position matches between male and female quartiles
overlap1 = data["male_lower_quartile"].isnull().equals(data["female_lower_quartile"].isnull())
overlap2 = data["male_lower_middle_quartile"].isnull().equals(data["female_lower_middle_quartile"].isnull())
overlap3 = data["male_upper_middle_quartile"].isnull().equals(data["female_upper_middle_quartile"].isnull())
overlap4 = data["male_top_quartile"].isnull().equals(data["female_top_quartile"].isnull())
# show matching results for each pair
overlap_result = {
    "male_lower_quartile vs female_lower_quartile":overlap1,
    "male_lower_middle_quartile vs female_lower_middle_quartile":overlap2,
    "male_upper_middle_quartile vs female_upper_middle_quartile":overlap3,
    "male_top_quartile vs female_top_quartile":overlap4
}
for group,match_result in overlap_result.items():
    print(f"{group}:{match_result}")
# define columns for each quartile
quartile_cols = ["male_lower_quartile","female_lower_quartile",
          "male_lower_middle_quartile","female_lower_middle_quartile",
          "male_upper_middle_quartile","female_upper_middle_quartile",
          "male_top_quartile","female_top_quartile"]
# fill missing values with median
for column in quartile_cols:
  data[column] = data[column].fillna(data[column].median())
# verify the sum of male-female pairs equals 100
pairs = [("male_lower_quartile","female_lower_quartile"),
    ("male_lower_middle_quartile","female_lower_middle_quartile"),
    ("male_upper_middle_quartile","female_upper_middle_quartile"),
    ("male_top_quartile","female_top_quartile")
]
for male,female in pairs:
  sum_pairs = data[male]+data[female]
  print(f"{male}+{female}:")
  print(f"sum:{sum_pairs.mean():.2f}")
# define columns for bonus
numeric_cols = ["diff_mean_bonus_percent","diff_median_bonus_percent"]
for column in numeric_cols:
  data[column] = data[column].fillna(data[column].median())
# drop irrelevant columns with missing values
data_cleaned = data.drop(columns=["company_link_to_gpg_info","responsible_person","post_code","address","company_number","sic_codes"])
# count latest missing values
print(data_cleaned.isnull().sum())
# print latest dataset size
print(f"data_cleaned shape:{data_cleaned.shape}")

male_lower_quartile vs female_lower_quartile:True
male_lower_middle_quartile vs female_lower_middle_quartile:True
male_upper_middle_quartile vs female_upper_middle_quartile:True
male_top_quartile vs female_top_quartile:True
male_lower_quartile+female_lower_quartile:
sum:100.00
male_lower_middle_quartile+female_lower_middle_quartile:
sum:100.00
male_upper_middle_quartile+female_upper_middle_quartile:
sum:100.00
male_top_quartile+female_top_quartile:
sum:100.00
employer_name                   0
employer_id                     0
diff_mean_hourly_percent        0
diff_median_hourly_percent      0
diff_mean_bonus_percent         0
diff_median_bonus_percent       0
male_bonus_percent              0
female_bonus_percent            0
male_lower_quartile             0
female_lower_quartile           0
male_lower_middle_quartile      0
female_lower_middle_quartile    0
male_upper_middle_quartile      0
female_upper_middle_quartile    0
male_top_quartile               0
female_top_quartile             0
employer_size                   0
current_name                    0
submitted_after_the_deadline    0
due_date                        0
date_submitted                  0
dtype: int64
data_cleaned shape:(48711, 21)